.main-wrapper {
    position: relative;
    margin-left: 118px;
    /* margin-top: 99px; */
    height: calc(100vh - 99px);
    overflow-y: hidden;
    background-color: #FFFFFF;
    /* border: 1px solid red; */
}